{% extends 'base.html.twig' %}
{% block head %}

{% endblock head %}
{% block title %}Register{% endblock %}
{%block body_id %}principal{% endblock %}

{% block body %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="registerjoel"><h1 class="h3 mb-3 font-weight-normal">Register</h1></div>
    <div class="container">
        <form method="post" class='form-horizontal'>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email,  {'attr': {'class':'form-control'}}) }}
        {{ form_row(registrationForm.name,  {'attr': {'class':'form-control'}}) }}
        {{ form_row(registrationForm.plainPassword,{'attr': {'class':'form-control'}}) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    </form>
</div>
{% endblock %}
